@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 748px;
  --breakpoint-lg: 976px;

  --color-primary: #4faab4;
  --color-primary-darken: #143654;
  --color-secondary: #fd9434;
  --color-secondary-darken: #792809;
  --color-neutral: #ffffff;
  --color-gray: #b7b7b7;
  --color-black: #000000;
  --color-info: #439ff5;
  --color-info-darken: #0c3073;
  --color-success: #7fac38;
  --color-success-darken: #325115;
  --color-warning: #f7d648;
  --color-warning: #745f1c;
  --color-danger: #ec544d;
  --color-danger-darken: #701b33;

  --shadow-elevation-1: 0px 1px 1px #ebebeb;
  --shadow-elevation-2: 0px 1px 8px rgba(0, 0, 0, 0.08);
  --shadow-elevation-3: 0px 2px 24px rgba(0, 0, 0, 0.08);

  --text-display-size: 3.438rem;
  --text-display-line: 5.156rem;
  --text-headline-size: 2.188rem;
  --text-headline-line: 3.281rem;
  --text-subheadline-size: 1rem;
  --text-subheadline-line: 1.5rem;
  --text-body-size: 0.875rem;
  --text-body-line: 1.313rem;
  --text-button-size: 0.75rem;
  --text-button-line: 1.125rem;
  --text-caption-size: 0.875rem;
  --text-caption-line: 1.313rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
